@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AbrilFatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("ttf"),
    url("../fonts/AbrilFatface-Regular.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --body-back: #fcf6ff;
  --navs-a: #908da2;
  --yellow: #ffc543;
  --border-color: #edd6ff;
  --step-color: #4c9bf8;
  --titles-color: #0e0d39;
  --border-radius: 6px;
  --card-radius: 12px;
}

.custom-container {
  padding: 0 3rem;
}

body {
  background: var(--body-back) !important;
  font-family: "Space Grotesk" !important;
}

.navbar-nav {
  width: 100%;
}

.nav-item a {
  color: var(--navs-a);
  font-size: 15px;
  font-weight: 500;
}

.nav-item {
  margin: 0 0.3rem;
}
.offcanvas-toggler {
  background: radial-gradient(
        63.11% 63.11% at 31.97% 19.67%,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0) 69.79%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffc543;

  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.marketting {
  font-weight: 800 !important;
}

.marketting span {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.myspace {
  color: #0e0d39 !important;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  padding: 1.3rem 2.2rem !important;
  margin: 0 0.6rem;

  background: radial-gradient(
        63.11% 63.11% at 31.97% 19.67%,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0) 69.79%,
        rgba(255, 255, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffc543;
  box-shadow: 2.71605px 25.8025px 42px rgba(80, 80, 80, 0.26);
  border-radius: 25px;
}

.flag {
  width: 30px;
  height: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
  border-radius: 4px;
}

.mobile-view {
  display: flex;
}

a:hover {
  text-decoration: none;
}

.auth-modal {
  text-align: center;
}

.auth-modal .modal-content {
  border-radius: 10px;
}
.blue-bar .modal-content {
  box-shadow: 0px -5px 0px #2ab0ff, 2.71605px 25.8025px 42px rgb(80 80 80 / 26%);
  border-radius: 20px;
  border: 2px solid white;
}
.auth-modal .modal-header {
  padding-bottom: 0;
  border: 0;
}
.auth-modal .modal-header span {
  font-size: 34px !important;
}
.auth-modal .modal-header button {
  background-color: transparent !important;
}
.auth-modal .modal-body {
  padding-bottom: 4rem;
}
.auth-modal p,
.auth-modal h3 {
  color: #0e0d39 !important;
}
.auth-modal button {
  border: 0;
}

.thankyou-image {
  max-width: 150px;
}

.buttons {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue {
  color: white;
  background-color: #0e0d39;
  border-radius: 5px;
}

.btn-yellow {
  background: radial-gradient(
      63.11% 63.11% at 31.97% 19.67%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #ffc543;
  box-shadow: 4px 38px 62px rgb(14 13 57 / 20%);
  border-radius: 25px;
  color: black;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #0e0d39 !important;
  color: #0e0d39;
  border-radius: 5px;
}

/*  */
.top-banner {
  padding: 5rem 0;
  background: #fff;
}

h3 {
  font-size: 2rem !important;
  font-weight: 600 !important;

  color: var(--titles-color) !important;
}

.chat-links a {
  text-decoration: none;
  color: var(--titles-color);
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  max-width: 135px;
  text-align: center;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 8px 0;
  margin: 0 0.4rem;
}

.chat-active {
  background: #0e0d39;
  color: #fff !important;
  border: 2px solid transparent !important;
}

/*  */
.main-div {
  background-color: #fcf6ff;
  padding: 5rem 0;
}

.cards-section {
  margin-top: 5rem;
}

.card {
  background: #fff;
  border-radius: var(--card-radius) !important;
  border: 2px solid var(--border-color) !important;
  padding: 2rem 4rem;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  position: relative;
}

.card-one ul li {
  margin-top: 2rem;
}

.card-one ul li:first-child {
  margin-top: 0;
}

.card-header {
  margin-top: -5rem;
  margin-bottom: 1.3rem !important;
}

.card-header img {
  box-shadow: var(--border-color) 0px 3px 28px;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-bottom: 2rem;
}

h4 {
  text-align: center;
  color: var(--titles-color);
  font-size: 2rem !important;
}

.detail ul li {
  color: var(--step-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.detail p {
  color: var(--titles-color);
  font-size: 1rem;
  font-weight: 700;
}

/* ask question */

.ask-title {
  padding: 3rem 0;
}

.side-menu {
  background: #fff;
  border-radius: var(--card-radius);
  border: 2px solid var(--border-color);
  width: 100%;
  max-width: 200px;
}
.side-menu a {
  color: var(--titles-color);
}
.side-menu ul {
  padding-top: 1.5rem;
}

.side-menu ul li a {
  text-decoration: none;
  color: var(--titles-color);
  font-size: 1rem;
  font-weight: 500;
  /* display: block; */
  padding: 2px 13px;
}

.side-menu ul li {
  padding: 0.5rem 13px;
}

.side-menu ul li a:hover {
  background: #edd6ff;
  border-radius: 50px;
}

.side-menu .active {
  background: #edd6ff;
  border-radius: 50px;
}

.accordion-wrapper {
  height: 500px;
  overflow: auto;

  overflow-y: auto;
  overflow-x: hidden;
}

.force-overflow {
  min-height: 450px;
}

.accordion-wrapper::-webkit-scrollbar {
  width: 8px;
}

.accordion-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cdc8d7;
}

.accordion button {
  color: #0e0d39 !important;
  font-size: 1rem;
  font-weight: 600;
}

.accordion p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--titles-color);
}

.accordion-item {
  border: 0 !important;
  background-color: transparent !important;
  padding-right: 4rem;
}

.accordion-header button {
  background-color: transparent !important;
}

/*  */

/* support page css */
.report-section {
  padding: 5rem 0;
}

.report {
  background-color: #fff;
  border-radius: var(--card-radius);
  border: 2px solid var(--border-color);
}

.report h3 {
  padding-top: 4rem;
  font-size: 1.5rem !important;
}

.form-inline {
  padding: 4rem 6rem;
}

.form-inline .select,
input[type="text"],
textarea {
  width: 100%;
  max-width: 900px;
  border: 0;
  background: #faf3ff;
  border-radius: var(--card-radius);
  padding: 1rem 0.8rem;
}

.form-inline .dropdown {
  padding: 0.8rem 0.8rem;
}

.select-btn {
  background: transparent;
  border: 0;
  color: var(--titles-color);
  font-size: 1rem;
  font-weight: 700;
}

input[type="text"]:focus {
  background-color: #faf3ff;
}

.form-select {
  border: 0 !important;
  background: transparent !important;
  padding: 0 !important;
  width: 200px !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0 transparent;
  outline: none;
}

.form-select {
  box-shadow: none !important;
}

.report span {
  font-weight: 600;
  font-size: 1.2rem;
}

.select-options {
  padding: 1rem 1rem !important;
}

textarea {
  width: 100%;
  height: 300px !important;
  overflow-y: auto;
}

#textarea::-webkit-scrollbar {
  width: 8px;
  padding-right: 2rem;
}

#textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cdc8d7;
  padding-right: 3rem;
}

.drag-file-box,
.files-list {
  width: 100%;
  max-width: 900px;
  border-radius: var(--card-radius);
  border: 2px solid #edd6ff;
  cursor: pointer;
}

.drag-file-box span {
  font-size: 1.1rem;
  font-weight: 600;
}

.drag-file-box img {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.drag-file-box h4 {
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}
/* 
div {
  position: relative;
  overflow: hidden;
} */

.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.bg-blue {
  background: #0e0d39 !important;
}
.file {
  cursor: pointer;
  position: relative;
  color: white !important;
  width: 100%;
  max-width: 130px;
  margin: auto;
  padding: 0.5rem 1rem !important;
  margin-top: 1.5rem !important;
  margin-bottom: 4rem !important;
}

.form-footer button {
  border: 0;
  background: transparent;
  margin-top: 2rem;
  font-weight: 600;
}

.form-footer {
  display: flex;
  justify-content: end;
}

.form-footer button:first-child {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #ffc543;
  border-radius: 25px;
  padding: 1.3rem 2.2rem !important;
  margin-right: 2rem;
}

.form-footer button:last-child {
  color: #ec595a;
  font-size: 1.2rem;
}

/*  */

/* report reply page */
.report form input {
  background-color: transparent !important;
  opacity: 0;
  border: 3px solid #edd6ff !important;
}
.report-header {
  padding: 0rem 6rem;
  padding-top: 4rem;
}

.report-header span {
  font-size: 1.2rem;
  font-weight: 400;
}

textarea {
  text-align: justify;
  white-space: normal;
}

.files-list {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  height: 300px;
  overflow-y: auto !important;
}

.files-list div {
  border-bottom: 2px solid #edd6ff;
  padding: 0.8rem 0;
}

.files-list::-webkit-scrollbar {
  width: 8px;
  padding-right: 2rem;
}

.files-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cdc8d7;
  padding-right: 3rem;
}

.reply-section .files-list .select,
input[type="text"],
textarea {
  background: #fff;
  border: 2px solid #edd6ff;
}

.reply-section .form-footer button:first-child {
  margin-right: 0;
  color: var(--titles-color);
}

/*  */

/* drag-list */

.upload-plus {
  cursor: pointer;
  position: relative;
  border: 0;
  background: #edd6ff;
  display: block;
  width: 100%;
  max-width: 50px;
  height: 50px;
  margin: 1rem auto;
  border-radius: 50px;
  color: white;
  font-size: 3.5rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-note {
  border: 0 !important;
  display: flex;
  justify-content: end;
  position: relative;
  top: -4rem;
}
.size-note span {
  font-size: 15px;
  font-weight: 400;
}

/*  */
/* footer */

.footer-detail {
  width: 100%;
  max-width: 70%;
}

.footer .col-md-2:nth-child(3) {
  padding-left: 2.5rem;
}

.footer-detail p {
  color: #0e0d39;
  opacity: 0.8;
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-family: "Space Grotesk" !important;
}

.footer h3 {
  font-size: 1.5rem !important;
  font-weight: 900;
  font-family: "AbrilFatface" !important;
}

.footer ul li a {
  color: #0e0d39;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 400;
  line-height: 2rem;
  font-family: "Space Grotesk" !important;
}

.copyright {
  border-top: 1px solid lightgray;
  margin-top: 2rem;
  padding-top: 1.6rem;
}

.copyright p {
  color: #0e0d39;
  opacity: 0.8;
  font-weight: 500;
}

.copyright-links ul li {
  margin-right: 2.4rem;
}

.copyright-links ul li a {
  color: #0e0d39;
  opacity: 0.8;
  font-weight: 400;
}

.copyright-links ul li:last-child {
  margin-right: 0;
}

/*  */

/* mobile section */
@media only screen and (max-width: 992px) {
  .cards-section .col-md-6 {
    width: 100%;
    display: block !important;
  }

  .cards-section .card {
    width: 100%;
    max-width: 100%;
  }

  .cards-section .row .col-md-6:first-child {
    margin-bottom: 5rem;
  }

  .form-inline {
    padding: 4rem 2rem;
  }

  .reply-section .report-header {
    display: block !important;
    text-align: center;
  }

  .size-note {
    display: block !important;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .footer h3 {
    font-size: 1rem;
  }

  .footer .copyright {
    display: block !important;
  }

  .footer .col-md-2:nth-child(3) {
    padding-left: 1rem !important;
  }
}

@media only screen and (max-width: 1366px) {
  .form-footer {
    position: relative;
    left: -0.9rem !important;
  }
}

@media only screen and (max-width: 1199px) {
  .form-footer {
    position: relative;
    left: 0rem !important;
  }
}

@media only screen and (max-width: 1410px) {
  .report .form-group {
    display: block !important;
  }
}

@media only screen and (max-width: 990px) {
  .navbar-nav {
    width: 100%;
    display: block !important;
  }
  .mobile-view {
    display: flex;
    justify-content: center;
  }
  .footer h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 786px) {
  .footer .row .col-md-6 {
    text-align: center;
  }

  .footer .row .col-md-6 .footer-detail {
    width: 100% !important;
    max-width: 100% !important;
  }

  .footer .row .col-md-2 {
    text-align: center;
    margin-top: 2rem;
  }
}

/* overridden  */
@media (min-width: 576px) {
  .wide-modal .modal-dialog {
    max-width: 650px !important;
  }
}
.accordion-button::after {
}
.accordion-button:focus {
  border-bottom: 1px solid #edd6ff !important;
  box-shadow: none !important;
}

.accordion-button {
  border-bottom: 1px solid #edd6ff !important;
}

.nav-pills .nav-link.active {
  background: #edd6ff !important;
  border-radius: 50px !important;
  color: var(--titles-color) !important;
  font-weight: bold;
}
